/*
 * @Description: css全局变量已经注入全局基础色使用
 */

//背景色

$bodyBy: rgb(6, 0, 16);
//主色浅色背景色
$colorPrimaryBg: rgb(41, 38, 46);
//主色浅色背景悬浮态
$colorPrimaryBgHover: rgb(23, 13, 39);
//主色描边色
$colorPrimaryBorder: rgb(57, 46, 78);
//主色描边色悬浮态
$colorPrimaryBorderHover: #85ccff;
//主色悬浮态
$colorPrimaryHover: #4086ff;
//品牌主色
$color: #339dff;
//主色激活态
$colorPrimaryActive: #2078d6;
//主色文本悬浮态
$colorPrimaryTextHover: #5cb6ff;
//主色文本
$colorPrimaryText: #329bfc;
//主色文本激活态
$colorPrimaryTextActive: #2078d6;

$color_orgin: #2e4175;

$color_font: rgb(207, 206, 206);

$colorSider: #fff;

